{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal mt-3 text-center">Vous avez plusieurs comptes</h1>
            {# this check prevents starting a session when there are no flash messages #}
            {% if app.request.hasPreviousSession %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <p>Plusieurs comptes ont été détectés, veuillez entrez l'un de vos identifiants et mots de passe pour verifier qu'il s'agit bien de vous.<p class="text-danger">Attention, l'email et le mot de passe associé doivent avoir était au préalable validé</p></p>
            <form action="/reset-compte " method="post" >

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group"><label for="choix_compte_form_email" class="required">Adresse mail</label><input type="email" id="choix_compte_form_email" name="choix_compte_form[email]" required="required" placeholder="Adresse mail" class="form-control" value="jimmy.gout@hotmail.com"></div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group"><label for="choix_compte_form_plainPassword" class="required">Mot de passe</label><input type="password" id="choix_compte_form_plainPassword" name="choix_compte_form[plainPassword]" required="required" placeholder="Mot de passe" class="form-control"></div>
                    </div>

                </div>
                <button class="btn btn-success">Valider</button>
            </form>
        </div>

{% endblock %}
