{# templates/emails/registration.html.twig #}
<h3>Vous étes inscrit !</h3>

Votre adresse mail utilisée = {{ mail }}! Vous avez bien était enregistré !.

{# example, assuming you have a route named "login" #}
Rendez-vous sur notre site : <a href="www.gigamedia.net">...</a>.

Merci!

{# Makes an absolute URL to the /images/logo.png file
<img src="{{ absolute_url(asset('images/logo.png')) }}">#}
